@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.router {
  display: flex;
}

/* ******************** EXTRA FONTS ************************ */
/*    Old timey calligraphy kinda thing. Basically just for headers*/
/* */@font-face {
/* */  font-family: "BerkahiBlackletter";
/* */  src: url("./resources/BerkahiBlackletter.ttf");
/* */  src: url("./resources/BerkahiBlackletter.otf") format("opentype");
/* */}
/* */@font-face {
/* */  font-family: "Dragonlands";
/* */  src: url("./resources/Dragonlands-KeZ7.ttf");
/* */}
/* ************************************************************ */

/* ******************** ANIMATIONS ************************ */
/*    This is an animation for having our Page title slide in to the right */
/* @keyframes slide-right {
from {
    margin-left: -20%;
    width: 300%;
    display: inline-block;
    vertical-align: top;
  }
  to {
    margin-left: 2%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
} */

@keyframes slide-right {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
/*    This is an animation for having our footer slide up from the bottom*/
/* */@keyframes slide-up {
/* */  from {
/* */    margin-bottom: -10vh;
/* */  }
/* */  to {
/* */    margin-bottom: 0vh;
/* */  }
/* */}
/*    This is an animation for having something fade away */
/* */@keyframes fade-away {
/* */  from {
/* */    opacity: 1;
/* */  }
/* */  to {
/* */    opacity: 0;
/* */  }
/* */}
/*    This is an animation for increasing text size, designed for use on hover*/
/* */@keyframes zoom {
/* */  from {
/* */    font-size: 10pt;
/* */  }
/* */  to {
/* */    font-size: 12pt;
/* */  }
/* */}
/*    This is the opposite. Shrinking text back down to what it was before hover */
/* */@keyframes nZoom {
/* */  from {
/* */    font-size: 12pt;
/* */  }
/* */  to {
/* */    font-size: 10pt;
/* */  }
/* */}
/*    This classic. Spinning Logo. */
/* */@keyframes App-logo-spin {
/* */  from {
/* */    transform: rotate(0deg);
/* */  }
/* */  to {
/* */    transform: rotate(-360deg);
/* */  }
/* */}
/* ********************************************************************** */
.App {
  text-align: center;
}


.App-logo {
  max-width: 25%;
  height: auto;
  pointer-events: none;
}

.spinning-logo {
  height: 100%;
  flex: 1 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}






.Text-grow {
  animation: zoom 0.25s;
  font-size: 12pt;
}

.Text-shrink {
  animation: nZoom 0.25s;
  font-size: 10pt;
}

.fadeaway {
  animation: 1.5s fade-away;
}

.mHeader {
  height: 10vh;
  width: 100%;
  overflow: hidden;
  padding-top: 15px;
  background: url('./imgs/greytexture.jpg');
  background-size: 100%;
  border-bottom: 2px solid black;
  box-shadow: 0px -2px 2px rgb(90,90,90);
  display: flex;
}
.mHeader section {
  padding-left: 2%;
  padding-right: 2%;
  width: 50%;
  display: inline-block;
}
.header-left {
    animation: 1.5s slide-right;
    overflow: hidden;
    margin-top: 0px;
    /* margin-left: 2%; */
    padding-bottom: 5px;
    display: inline-block;
    overflow: hidden;
    font-family: "BerkahiBlackletter";
    font-size: 32pt;
    color: white;
    text-shadow: 3px 3px 1px black;
    vertical-align: top;
  }
  .mHead-right {
    width: 50%;
    text-align: right;
    padding-right: 2%;
  }
  .header-right {
    animation: 1.5s slide-left;
    overflow: hidden;
    width: auto;
    vertical-align: top;
    font-size: 14pt;
  }

button {
  font-family: "Dragonlands"; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  background-image: url('./imgs/parch-button.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 2%;
  padding-right: 2%;
  border: 0px;
  background-color: rgb(0,0,0,0);
}

button:focus {
  border: 0;
  outline: none;
  box-shadow: 3px 3px 6px black;
}


.moreInfo {
  height: 10vh;
  width: 100%;
  /* background-image: linear-gradient(45deg, rgb(92, 91, 91), rgb(106, 106, 107), rgb(68, 68, 66)); */
  background: url('./imgs/greytexture.jpg');
  background-size: 100%;
  border-top: 2px solid black;
  box-shadow: 0px -2px 2px rgb(90,90,90);
  animation: 1.5s slide-up;
  overflow: hidden;
}

.fDeets {
  text-align: center;
}

.mDeets {
  list-style-type: none;
  display: inline-block;
  margin: 0px 3px 0px 3px;
}

.mDeets, a {
  color: white;
}

.mdLogo {
  vertical-align: bottom;
}


.container {
  flex: 1 0 auto;
  align-items: center;
  padding: 20px;
  
}

footer {
  flex-shrink: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.inputRow {
  width: 100%;
  margin: 0 3% 0 3%;
  display: block;
}

.form-right {
  margin-left: 32%;
}

.inputLabel {
  width: 30%;
  margin-right: 2%;
  display: inline-block;
}
.inputBox {
  width: 65%;
  display: inline-block;
}

.errorText {
  color: red;
  font-size: 10pt;
  margin-top: 2px;
  margin-bottom: 2px;
}

.register {
  display: flex;
  justify-content: center;
  width: 50%;
}

form {
  width: 100%;
  height: auto;
}